* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: black;
}

nav {
    height: 60px;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.social-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
}

.social-links a {
    text-decoration: none;
}

.main {
    display: flex;
}

.main .left {
    width: 50%;
    height: 600px;
    padding: 0 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main .left h3 {
    font-size: 20px;
}

.main .left h1 {
    font-size: 70px;
}

.main .left h1 span {
    color: #C9A84B;
    font-style: italic;
}

.main .left p {
    width: 80%;
    font-size: 20px;
}

.main .left .but {
    display: flex;
    gap: 30px;
}


.main .left .but button {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 40px;
    background: #C9A84B;
    border: none;
}

.line {
    width: 100%;
    border-bottom: 3px solid rgba(255, 68, 0, 0.244);
    border-radius: 50px;
    margin-top: 30px;
}

.main .right {
    width: 50%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .right .image {
    height: 300px;
    width: 300px;
    /* border: 2px solid green; */
}

.second-page {
    height: 665px;
    /* border: 5px solid green; */
}

.second-page h1 {
    color: #C9A84B;
    font-size: 50px;
    text-align: center;
}

.second-page p {
    font-size: 20px;
    text-align: center;
}

.second-page .all-cards {
    height: 80%;
    margin-top: 43.5px;
    /* border: #C9A84B 3px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second-page .all-cards .card-box {
    height: 400px;
    width: 300px;
    border-radius: 40px;
    padding: 25px;

    background-image: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.second-page .all-cards .card-box .middle {
    margin-top: 40px;
    text-align: center;
}

.second-page .all-cards .card-box .middle h3 {
    font-size: 20px;
}